#site {
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;    

}
/* Hide scrollbar for Chrome, Safari and Opera */
#site::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
#site {
    -ms-overflow-style: none;
}
body {
    margin: 0px;
}
header {
    /* background-color: yellow; */
    margin-right: 42px;
    margin-left: 42px;
    margin-top: 20px;
    margin-bottom: 34px;
    
}
.box-1 {
    display: flex;
    width: 100%;
    overflow: auto;
}
.header-esq {
    width: 100vw;
    display: flex;    
}
.header-dir {
    width: 100vw;
}
.header-txt1 {
    color: #D42026;
    opacity: 100%;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    /* character: 0px;
    line: 32px (1.2); */
}
.header-txt2 {
    color: #D42026;
    opacity: 100%;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    /* character: 0px;
    line: 32px (1.2); */

}
.header-txt3 {
    color: #D42026;
    opacity: 100%;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    /* character: 0px;
    line: 32px (1.2); */
    float: right;

}
.rec-red {
    
    background-color: #D42026;
    height: 4px;
    width: 54px;
}
.search {
    margin-top: 34px;
}
#search-results {
    height: 100%;
}
.search .txt {
    color: #D42026;
    font-size: 16px;
    font-weight: 400;
}
.search .rectangle-8 {
    height: 31px;
    width: 400px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px center;
    outline: none;
    color: #A5A5A5;
    opacity: 100%;
    font-size: 16px;
    padding: 0 8px;
    color:  #A5A5A5;
    font-weight: 400;
}
.character {
    /* background-color: red; */
    width: 25%;
    display: flex;
    align-items: center;
}
.description {
    /* background-color: aqua; */
    width: 75%;
    overflow: auto;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.result-item {

    display: flex;
    /* background-color: #f8d3d4; */
    
    
}
.result-item:hover {
    background-color: #f8d3d4;

}
.result-divider {
    height: 3px;
    width: 100%;
    background-color: #D20A0A;
    opacity: 35%;
}
.box-rectangle {
    display: flex;
    margin-left: 42px;
    margin-right: 42px;
}
.rectangle-3 {
    height: 37px;
    width: 25%;
    background-color: #D42026;
    display: flex;
    align-items: center;
}
.rectangle-3 .txt {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    margin-left: 15px;

}
.rectangle-4 {
    height: 37px;
    width: 75%;
    background-color: #D42026;
    display: flex;
    align-items: center;
    margin-left: 10px;   
}
.rectangle-4 .txt {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    margin-left: 15px;
}
.result-txt {
    color:  #4E4E4E;
    font-weight: 400;
    font-size: 21px;
}
.image-div {
    /* background-color: yellow; */
    margin-left: 10px;
}
.image-div .image {
    border-radius: 2em;
}
.name-div {
    /* background-color: grey; */
    height: 58px;
    display: flex;
    align-items: center;
    margin-left: 25px;
}
.name-div:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.box-results {
    display: block;
    margin-left: 42px;
    margin-right: 42px;
}
.box-results .result-item {
    height: 112px;
}
.box-paginate {
    display: block;
}
#paginate-results {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 120px;
}
#paginate-results ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#paginate-results ul li {
    display: inline;
    margin-right: 20px;
    
}
#paginate-results ul li:first-child {
    margin-left: 12px;
    margin-right: 0;
    color:  #D42026;
    
}
#paginate-results ul li:last-child {
    margin-right: 12px;
    color:  #D42026;
}
#paginate-results ul li:nth-child(2) {
    margin-left: 20px;
}
#paginate-results ul li:nth-child(7) {
    margin-right: 0;
}
.iconcolor {
    color:  #D42026;
}
.iconcolor2 {
    color:  #FFFFFF;
}
.pagecolor {
    color:  #FFFFFF;
    background-color: #FFFFFF;
}
#paginate-results .txt {
    color:  #D42026;
    font-size: 21px;
    font-weight: 400;

    height: 32px;
    width: 32px;
    background-color: #FFFFFF;
    border: 1px solid #D42026;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#paginate-results .active {
    color: #FFFFFF;
    background-color: #D42026;
    border: 1px solid #D42026;
}
#paginate-results .focus {
    color: #FFFFFF;
    background-color: #D42026;
    border: 1px solid #D42026;
}
.prev, .next{
    height: 16px;
    width: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.prev .icon, .next .icon {
    color: #D42026;
}

.box-footer {
    display: block;
    height: 12px;
}
.rectangle-footer {
    display: block;
    position: absolute;
    height: 12px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #D42026;
}
/* footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
} */
a {
    text-decoration: none;
}
*:focus {
    outline-style: none;
    box-shadow: none;
}
#page-nav {
    display: flex;
    left: 0;
    bottom: 0;
}
.details{
    height: 0;
    width: 0;
}
